.visible {
    visibility: hidden;
}

button {
    width: 150px;
    height: 25px;
    background-color: palevioletred;
}

.visible-photo{
    opacity: 0;
}

.btnphoto{
    width: 150px;
    height: 25px;
    background-color: rgb(69, 218, 181);
}